@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root{
    --background: var(--color-neutral-100);
    --foreground:var(--color-slate-900);
}

.dark{
    --background: var(--color-zinc-900);
    --foreground: var(--color-neutral-200)
}

@theme inline{
    --color-background : var(--background);
    --color-foreground:var(--foreground)
}